# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ROS / build artifacts
build/
install/
log/
*.bag
*.db3
highlevel/terrain_manipulation/data/

# OS/editor
.DS_Store
.vscode/
highlevel/terrain_manipulation/plot_avg_displacement_vs_density.py
