build/*
devel/*
logs/*
install/*
site/*
.catkin_tools/*
.devcontainer/*
.vscode/*
experiment_records/*
dependencies/build/*
dependencies/devel/*
dependencies/logs/*
highlevel/experiment_data/*
highlevel/LASSIE_GUI/__pycache__
